<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<!--  
		This file is part of FlashFolder. 
		Copyright (C) 2007 zett42 ( zett42 at users.sourceforge.net ) 
	  
		This program is free software; you can redistribute it and/or modify
		it under the terms of the GNU General Public License as published by
		the Free Software Foundation; either version 2 of the License, or
		(at your option) any later version.
	  
		This program is distributed in the hope that it will be useful,
		but WITHOUT ANY WARRANTY; without even the implied warranty of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
		GNU General Public License for more details.
	  
		You should have received a copy of the GNU General Public License
		along with this program; if not, write to the Free Software
		Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
	--> 
	
	<?include _defines.wxi?>

	<Fragment>

		<ComponentGroup Id="ProgramFiles">
			<?if $(var.Platform) = x64 ?>
				<ComponentRef Id="FlashFolder64.exe"/>
				<ComponentRef Id="fflib6439_64.dll"/>
				<ComponentRef Id="FFConfig64.exe"/>
			<?else?>
				<ComponentRef Id="FFConfig.exe"/>
			<?endif?>
			<ComponentRef Id="FlashFolder.exe"/>
			<ComponentRef Id="fflib6439.dll"/>
		</ComponentGroup>

		<Directory Id="TARGETDIR" Name="SourceDir" FileSource="..\exe">

			<?if $(var.Platform) = x64 ?>

				<Component Id="FlashFolder64.exe" Guid="0E8B27BC-E2E4-4D1C-8FE8-629732CA7E74">
						<File Name="FlashFolder64.exe" BindPath="[TARGETDIR];[SystemFolder]" 
							Vital="yes" KeyPath="yes" />

					<!-- Install autorun service.
						LoadOrderGroup should be such that the service is started before user logon.
					-->
					<ServiceInstall Id="ffservice_inst" 
						Name="FlashFolder"
						DisplayName="[ProductName]"
						Description="!(loc.PackageDescription)"
						Arguments="/startservice" 
						ErrorControl="normal"
						Interactive="no"
						Start="auto"
						LoadOrderGroup="PlugPlay"
						Type="ownProcess"
						Vital="yes" />
					<ServiceControl Id="ffservice_ctrl"
						Name="FlashFolder"
						Start="install"
						Remove="uninstall" 
						Wait="yes" />
				</Component>

				<Component Id="fflib6439_64.dll" Guid="919196F1-A7A9-41C5-959F-A45625C7047E">
					<File Name="fflib6439_64.dll" BindPath="[TARGETDIR];[SystemFolder]" 
						Vital="yes" KeyPath="yes"/>
				</Component>

				<Component Id="FFConfig64.exe" Guid="84EBA09D-8050-4107-939B-9DCF1235A854">
					<File Name="FFConfig64.exe" BindPath="[TARGETDIR];[SystemFolder]"
						Vital="yes" KeyPath="yes"/>  
				</Component>

				<!-- 32-bit hook process (not run as service) -->
				<Component Id="FlashFolder.exe" Guid="05CC9489-77F6-425F-87A3-98AB9BBA60C3">
					<File Name="FlashFolder.exe" BindPath="[TARGETDIR];[SystemFolder]"
						Vital="yes" KeyPath="yes"/>
				</Component>

			<?else?>   <!-- Platform = x86 ............................................................ -->

				<Component Id="FlashFolder.exe" Guid="E5EF7F5C-026E-4772-BBC0-075A94198FDA">
					<File Name="FlashFolder.exe" BindPath="[TARGETDIR];[SystemFolder]"
						Vital="yes" KeyPath="yes"/>

					<!-- Install autorun service.
						LoadOrderGroup should be such that the service is started before user logon.
					-->
					<ServiceInstall Id="ffservice_inst"
						Name="FlashFolder"
						DisplayName="[ProductName]"
						Description="!(loc.PackageDescription)"
						Arguments="/startservice"
						ErrorControl="normal"
						Interactive="no"
						Start="auto"
						LoadOrderGroup="PlugPlay"
						Type="ownProcess"
						Vital="yes" />
					<ServiceControl Id="ffservice_ctrl"
						Name="FlashFolder"
						Start="install"
						Remove="uninstall"
						Wait="yes" />
				</Component>

				<Component Id="FFConfig.exe" Guid="3E8D86C3-3CA3-41D5-B6E3-D09D01B50CFD">
					<File Name="FFConfig.exe" BindPath="[TARGETDIR];[SystemFolder]"
						Vital="yes" KeyPath="yes"/>
				</Component>

			<?endif?>

			<!-- 32-bit components required to hook into 32-bit processes, even under x64 -->

			<Component Id="fflib6439.dll" Guid="ABB79737-52B0-4EA1-AC4C-DD7BE0BC3F16">
				<File Name="fflib6439.dll" BindPath="[TARGETDIR];[SystemFolder]"
					Vital="yes" KeyPath="yes"/>
			</Component>

		</Directory>
	</Fragment>
</Wix>