<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<!--  
		This file is part of FlashFolder. 
		Copyright (C) 2007 zett42 ( zett42 at users.sourceforge.net ) 
	  
		This program is free software; you can redistribute it and/or modify
		it under the terms of the GNU General Public License as published by
		the Free Software Foundation; either version 2 of the License, or
		(at your option) any later version.
	  
		This program is distributed in the hope that it will be useful,
		but WITHOUT ANY WARRANTY; without even the implied warranty of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
		GNU General Public License for more details.
	  
		You should have received a copy of the GNU General Public License
		along with this program; if not, write to the Free Software
		Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
	-->    
  
	<?include _version.wxi?>
	<?include _defines.wxi?>
	    
	<!-- Let WiX randomize Product-ID so a full upgrade is always done.
	     The product will be identified by the Upgrade-ID. -->
	     
	<Product Id="*"
		UpgradeCode="$(var.UpgradeCode)"
		Name="!(loc.ProductName)" Language="!(loc.LCID)" Version="$(var.Version)" 
		Manufacturer="!(loc.ProductManufacturer)">

		<Package 
			Description="!(loc.PackageDescription)" 
			Comments="v$(var.Version)"
			InstallerVersion="200" Compressed="yes" />
			
		<Icon Id="ProgramIcon.exe" SourceFile="..\FFConfig\res\FFConfig.ico"/>

		<Media Id="1" Cabinet="Product.cab" EmbedCab="yes" CompressionLevel="high" />

		<Upgrade Id="$(var.UpgradeCode)">
			<!-- detect whether same or newer version is already installed -->
			<UpgradeVersion
				Minimum="$(var.Version)" IncludeMinimum="yes"
				OnlyDetect="yes"
				Property="FF_EXISTING_PRODUCT_SAME_OR_NEWER" />
			<!-- invoke an upgrade otherwise -->
			<UpgradeVersion
				Minimum="0.0.0.0" IncludeMinimum="yes"
				Maximum="$(var.Version)" IncludeMaximum="no"
				Property="FF_EXISTING_PRODUCT_OLDER" />				
		</Upgrade>
			
		<FeatureRef Id="MainFeature" />

		<!-- Launch conditions -->
		
		<Condition Message="!(loc.Require_Win2k_or_newer)"><![CDATA[VersionNT >= 500]]></Condition>		
		<Condition Message="!(loc.Error1925)">Privileged</Condition>
		<Condition Message="!(loc.NewerVersionInstalled)">NOT FF_EXISTING_PRODUCT_SAME_OR_NEWER</Condition>

		<!-- Custom action definitions ....................................................... -->

		<CustomAction Id="FF_SetTargetDirDefault" Property="TARGETDIR"
			Value="[ProgramFilesFolder]!(loc.ProductName)" Execute="firstSequence" />
		<CustomAction Id="FF_SetArpInstallLocation" Property="ARPINSTALLLOCATION" Value="[TARGETDIR]" />
			
		<!-- install sequences ........................................................... -->

		<InstallUISequence>
			<LaunchConditions After="FindRelatedProducts"/>
		
			<!-- Set default TARGETDIR, if not already defined -->
			<Custom Action="FF_SetTargetDirDefault" Before="CostFinalize">NOT Installed AND TARGETDIR=""</Custom>
		</InstallUISequence>

		<InstallExecuteSequence>
			<LaunchConditions After="FindRelatedProducts"/>
		
			<!-- must uninstall running FlashFolder service before install; else it could not be upgraded -->
			<RemoveExistingProducts Before="InstallInitialize" />

			<Custom Action="FF_SetTargetDirDefault" Before="CostFinalize">NOT Installed AND TARGETDIR=""</Custom>

			<Custom Action="FF_SetArpInstallLocation" After="CostFinalize">NOT Installed OR REINSTALL</Custom>
		</InstallExecuteSequence>

		<!-- public interface ............................................................ -->

		<Property Id="TARGETDIR" Secure="yes" Admin="yes"/>

		<!-- standard properties -->

		<Property Id="ALLUSERS">1</Property>
		<Property Id="PROMPTROLLBACKCOST">P</Property>
		<Property Id="INSTALLLEVEL">3</Property>
				
		<Property Id="ARPPRODUCTICON">ProgramIcon.exe</Property>
		<Property Id="ARPCOMMENTS">!(loc.PackageDescription)</Property>
		<Property Id="ARPCONTACT">!(loc.ProductManufacturer)</Property>
		<Property Id="ARPURLINFOABOUT">http://zett42.de/flashfolder/</Property>


		<!-- Configure WixUI user interface library ...................................... -->

		<UIRef Id="MyWixUI_InstallDir" />
		<UIRef Id="WixUI_ErrorProgressText" />
		<Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
		<WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
		<WixVariable Id="WixUIBannerBmp" Value="Bitmaps\banner.jpg"/>
		<WixVariable Id="WixUIDialogBmp" Value="Bitmaps\dialog.jpg"/>

	</Product>
</Wix>